* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.5px;
}

/* Styling Home Page */

.container {
  display: flex;
}
.sidebar {
  position: absolute;
  background-color: #00dfa2;
  height: 100vh;
  transition: transform 0.3s ease-in;
}

.sidebar nav {
  margin: 100px 10px;
}
.sidebar nav li {
  list-style-type: none;
  padding: 10px;
}

.sidebar nav li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.sidebarGo {
  transform: translate(-400px, 0px);
  position: absolute;
}

.main {
  background-color: #00c4ff;
  width: 100vw;
  padding: 20px;
}

.infoContainer {
  /* background-color: yellow; */
  margin: 100px auto;
  height: 60vh;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  padding-left: 10vw;
}

@media (max-width: 1200px) {
  .infoContainer {
    flex-wrap: wrap;
  }
}
.hamburger {
  position: absolute;
  top: 40px;
  left: 10px;
  cursor: pointer;
  margin: 10px;
}
.cross {
  margin-left: 118px;
}

.devInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hello {
  font-size: 70px;
}

.name {
  font-size: 40px;
  font-weight: bold;
}
.about {
  font-size: 30px;
  margin: 15px 0;
}
.moreabout {
  font-size: 22px;
  margin: 15px 0;
}
.buttons button {
  margin: 9px 14px;
  border-radius: 20px;
  padding: 10px;
  color: white;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.buttons button:hover {
  background-color: white;
  color: dodgerblue;
}

.devPic img {
  height: 60vh;
}

/* styling about page */

.intro {
  margin: 20px 40px 20px 190px;
  height: 100vw;
}
.intro h2 {
  margin: 10px;
}

.intro p {
  text-align: justify;
  margin: 12px;
}
.skillContainer {
  padding: 13px;
}
.skill {
  width: 700px;
  height: 5px;
  background-color: red;
  margin-left: 10px;
}
.skillItem {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.eighty {
  width: 560px;
  background-color: blue;
}
.seventy {
  width: 490px;
  background-color: aqua;
}
.sixty-five {
  width: 455px;
  background-color: orangered;
}
.sixty {
  width: 420px;
  background-color: green;
}
.fifty {
  width: 350px;
  background-color: chartreuse;
}
.fourty {
  width: 280px;
  background-color: fuchsia;
}

/* styling project page */

.myProject {
  margin: 50px 50px 50px 190px;
  height: 100vh;
}

.myProject h2 {
  font-size: 30px;
  padding: 10px;
}
.myProject ul {
  margin: 20px;
}
.myProject ul li {
  padding: 10px;
}
.myProject ul li a {
  text-decoration: none;
  font-size: 20px;
}

/* styling blog page */

.blogContainer {
  margin: 20px 50px 50px 190px;
}
.blogItem {
  margin: 20px;
}
.blogContainer h1 {
  margin: 23px;
}
.blogItem p {
  text-align: justify;
  padding: 10px;
}

/* contact form styling */

.contactform {
  margin: 20px 50px 50px 190px;
}

.contactform h1 {
  font-size: 35px;
  padding: 0 0 20px 30px;
}
.contactform form div {
  padding: 10px 30px;
  font-size: 25px;
}

.contactform form div p {
  color: blue;
}
.contactform form div input {
  padding: 5px;
  font-size: 20px;
  color: green;
  font-weight: 700;
}
.contactform form div input.emailAdd {
  width: 350px;
  margin-top: 10px;
}

.contactform form div input.phoneNo {
  width: 120px;
  margin-top: 10px;
}

.contactform form div textarea.query {
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  color: green;
}
.contactform form div input.check {
  transform: scale(1.65);
  height: 25px;
}
/* body has default margin and unordered list has default padding */
